name: Python codeqa/test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check code style with Flake8
      uses: TrueBrain/actions-flake8@v1.2
      with:
        path: src tests

  mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install dependencies
      run: pip install mypy
    - name: Check types with Mypy
      run: mypy src

  test:
    needs: [flake8, mypy]
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install https://github.com/bboe/coveralls-python/archive/bb0e00166b28f49db04d6a8b8cb4bddb5afa529f.zip
        pip install .[test]
    - name: Test with pytest
      run: coverage run -m pytest
    - name: Upload coverage data to Coveralls
      run: |
        env
        coveralls
      env:
        COVERALLS_PARALLEL: true
        COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  coveralls:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Tell Coveralls that the parallel build is finished
      uses: coverallsapp/github-action@v1.0.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
